<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>
        KINCAID 
        <small class="text-muted">Web Developer Practical</small>
      </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
    </div>
  </div>
</nav>
<div class="container py-3">
  
  <div class="row my-3 mb-5">
    <div class="col">

      <ng-container *ngIf="loadingData">
        <div class="w-50 m-auto text-center position-absolute spin-position">
          <div class="spinner-border text-primary m-auto" role="status">
            <!-- <span class="sr-only">Loading...</span> -->
          </div>
        </div>     
      </ng-container>
      
      <table class="table table-striped table-hover w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="bi bi-server text-success mx-2"></i> Environment</td> 
            <td>{{apiData?.environment}}</td> 
          </tr>
          <tr>
            <td><i class="bi bi-calendar-week text-success mx-2"></i> Update Date</td> 
            <td>{{apiData?.update_date| date: 'longDate'}}</td> 
          </tr>
          <tr>
            <td><i class="bi bi-git text-success mx-2"></i> Version</td> 
            <td>{{apiData?.version}}</td> 
          </tr>
        </tbody> 
      </table>
    </div>
  </div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mt-5 pt-3">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <i class="bi bi-stars text-primary"></i>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 Jake Salazar</span>
    </div>
    
  </footer>
</div>

